### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Arquivos sensíveis ###
*.env
*.key
*.pem
*.p12
*.keystore
*.jks
*.cer
*.crt

### Arquivos de configuração local ###
*.properties
application*.yml
application*.yaml
application*.properties

### Logs ###
logs/
*.log

### Arquivos do sistema ###
Thumbs.db

### Arquivos do projeto ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.iml
*.ipr
*.iwssrc/resources/temp_split_*.png
src/resources/background.jpg
src/resources/temp_split_0.png
src/resources/temp_split_1.png
src/resources/temp_split_2.png
src/resources/temp_split_3.png
src/resources/temp_split_4.png
src/resources/temp_split_5.png
src/resources/temp_split_6.png
src/resources/temp_split_7.png
Ruas_da_F_ria_com_Marombeiro_pb.txt
lib/
*.class
*.so
Nova_Run_pb.txt
